<header class="bg-dark" style="background-color: rgba(0, 0, 0, 0.2) !important;">
  <nav class="nav-index d-flex align-items-center d-flex justify-content-around w-100 px-1">
    <div class="h-100 d-flex align-items-center justify-content-center"><a href="/"><h3 class="mt-1">Pizzeria Italia</h3></a></div>
    <div class="d-flex align-items-center">
      <form class="m-0 d-flex justify-content-center align-items-center" method="get" action="/pizzas">
        <span class="text-white me-xl-3">Find your Pizza!🍕</span>
        <input  name="pizzaName"  class="search-bar form-control rounded d-flex align-items-center justify-content-center me-2 ps-2" placeholder="Es. Margherita">
        <button  type="submit"  value="SEARCH"  class="btn-nav btn btn-primary d-flex align-items-center justify-content-center">Search</button>
      </form>
      </div>
  </nav>
</header>